header
  @include gradient
  padding: 2em $paddingSide
  position: relative
  @include screen(large)
    padding: 2em $paddingSideTablet
  @include screen(small)
    padding: 2em $paddingSideMobile
    
  nav
    display: flex
    align-items: center
    justify-content: space-between
    svg
      width: auto
      height: 100%
      
    
    #hamburger
      display: none
      padding: 0
      width: 40px
      height: 24px
      z-index: 6
      .hamburger-inner
        background: $white
        &::after, &::before
          background: $white
      @include screen(large)
        display: block
      

    .navMenu
      @include screen(large)
        position: absolute
        top: 0
        right: 0
        height: 100vh
        width: 40%
        overflow: hidden
      @include screen(small)
        width: 80%
      ul
        list-style: none
        display: flex
        align-items: center
        @include screen(large)
          align-items: flex-start
          flex-direction: column
          justify-content: center
          height: 100%
          width: 100%
          margin: 0
          padding: 0 2em
          background: $grayD
          transform: translateX(100%)
          z-index: 5
        li
          margin-right: 2.1em
          text-transform: uppercase
          color: $white
          &:last-child
            margin-right: 0
          @include screen(large)
            margin: 0 0 2em 0
            &:last-child 
              margin-bottom: 0

  .headerWrap
    display: flex
    justify-content: space-between
    margin-top: 11.3em
    @include screen(large)
      margin-bottom: 11.3em

    .headline
      @include screen(large)
        display: flex
        flex-direction: column
        //align-content: center
        justify-content: center
        text-align: center
        
      .subtitle
        margin: .5em 0
        width: 60%
        @include screen(large)
          width: 100%
      .buttons-wrap 
        display: flex
        @include screen(large)
          justify-content: center
    svg
      width: 26em
      height: auto
      margin-top: -6em
      z-index: 3
      @include screen(large)
        display: none
