#partners
  .head
    margin: 0
    .subtitle
      padding-top: 1.6em
  hr
    height: .07em
    background: $grayS
    border: 0
  .logosWrap
    position: relative
    overflow: hidden

    .overlayRight 
      right: 0
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, $whiteBG 100%)
    .overlayLeft 
      left: 0
      background: linear-gradient(to left, rgba(255,255,255,0) 0%, $whiteBG 100%)
    .overlayRight,
    .overlayLeft
      display: none
      margin: 1.5em 0
      top: 0
      pointer-events: none
      position: absolute
      width: 20%
      height: 38px
      z-index: 2
      @include screen(large)
        display: block
    .swiper-wrapper 
      display: flex
      justify-content: space-between
      align-items: center
      margin: 1.5em 0
      svg 
        display: block
        width: auto
        height: 38px
