#figures
  .figuresWrap
    display: flex
    justify-content: center
    @include screen(large-med)
      display: grid 
      grid-template-columns: 2fr 2fr
    @include screen(small)
      grid-template-columns: 1fr


    .figureBox
      display: flex
      margin-right: 4em
      &:last-child 
        margin-right: 0
      @include screen(large-med)
        margin: 0 0 2em 0
        justify-content: center

      .figure
        display: flex
        margin-right: 15px
        @include screen(large-med)
          margin-right: .4em
          width: 1em
          justify-content: end
        p
          align-self: flex-end
        span
          align-self: flex-start
      .text
        align-self: end
