footer
  background: $white
  .newsletterWrap
    display: flex
    @include screen(large)
      flex-direction: column
    .newsletterHead
      width: 35%
      @include screen(large)
        width: 100%
        display: flex
        flex-direction: column 
      .subNews
        margin: 1em 0
      .newsletterForm
        display: flex
        @include screen(large)
          justify-content: center
        input
          border: 0
          width: 70%
          border-radius: 4em 0 0 4em
          background: $grayI
          color: $grayD
          font-weight: $semiBold
          margin-bottom: 1em
          padding: 1em 1.5em
          border: .15em solid $grayI
          transition: .3s border ease-in-out
          &::placeholder
            color: $grayL
          &:focus
            border: .15em solid $grayS
          &:valid
            box-shadow: none
            //border: .1em solid $green
          &:invalid
            box-shadow: none
            border: .15em solid $red
        button
          height: 3.4em
          width: 3.4em
          display: flex
          align-items: center
          justify-content: center
          border-radius: 5em
          margin-left: -1.7em
          background: $pink
          transform: scale(1.2)
          cursor: pointer
          transition: background .3s ease-in-out
          &:hover
            background: $pinkHover
          svg
            height: 50%

    .sitemapBox
      width: 65%
      @include screen(large)
        display: flex
        flex-direction: column
        width: 100%
      .footerHeadActive
        background: $grayI
      .aboutHead, 
      .discoverHead
        @include screen(large)
          padding: 1em 1em
          box-sizing: border-box
          border-top: .2em solid $grayI
          border-bottom: .2em solid $grayI
          //background: transparent
          display: flex
          justify-content: space-between
          align-items: center
          cursor: pointer
          transition: background .3s ease-in-out
        .arrowIconWrap
          width: 1em
          height: 1em
          display: none 
          @include screen(large)
            display: block
          .arrowActive 
            transform: rotate(180deg)
      .aboutLinks
        padding-right: 2.5em
        @include screen(large)
          padding: 0
          margin-bottom: 2em
      ul 
        padding: 0
        margin: 0
        @include screen(large)
          padding: 0 1.2em
          overflow-y: hidden
        li
          margin-top: .8em

  hr
    margin-top: 8em
    border: 0
    height: .1em
    background: $grayS
