// pt to em / 16
button
  border: 0
.signupNav
  padding: 0.8em 2em
  color: $white
  background: $pink
  font-size: 0.9em
  border-radius: 2em
  cursor: pointer
  transition: all .3s ease-in-out
  &:hover, &:active
    background: $pinkHover
    box-shadow: 0px 17px 31px -15px $pinkHover
    transform: translateY(-.2em)
.signupHead, .loginHead
  padding: 1.12em 3em
  cursor: pointer
  border-radius: 4em
  border: .2em solid $pink
  @include screen(x-small)
    padding: 1em 1.5em
    font-size: .9em
.signupHead
  background: $pink
  color: $white
  transition: all .3s ease-in-out
  margin-right: .5em
  &:hover, &:active
    background: $pinkHover
    box-shadow: 0px 17px 31px -15px $pinkHover
    transform: translateY(-.2em)

.loginHead
  color: $pink
  background: inherit
  background-image: url('../images/waveHover.svg')
  background-size: 200px 0
  background-repeat: repeat-x
  transition: all .3s ease-in-out .1s, color .3s ease-in-out
  &:hover, &:active
    color: $white
    box-shadow: 0px 17px 31px -15px $pinkHover
    transform: translateY(-.2em)
    animation: wave-animation .5s infinite linear, loading-animation .5s linear
    animation-fill-mode: forwards
.tag
  padding: 0.68em 1.125em
  border-radius: 4em
  text-transform: none

.findMore
  margin: 0 auto
  display: block
  margin-top: 4em
  background: $turqoise
  color: $white
  padding: 1em 2.5em
  cursor: pointer
  border-radius: 4em
  transition: all .3s ease-in-out
  &:hover, &:active
    background: $turqoiseHover
    box-shadow: 0px 17px 31px -15px $turqoiseHover
    transform: translateY(-.2em)

.sendBtn
  padding: 1em 1.5em
  text-transform: uppercase
  background: $pink
  transition: background .3s ease-in-out, transform .1s ease-in-out
  cursor: pointer
  &:hover, &:active
    background: $pinkHover

.planBtn
  padding: 1em 0
  width: 100%
  margin-left: -2em
  width: calc(100% + 4em)
  background-image: url('../images/wave.svg')
  background-size: 200px 0
  background-repeat: repeat-x
  display: flex
  justify-content: center
  &:hover, &:active
    animation: wave-animation .5s infinite linear, loading-animation .5s linear
    animation-fill-mode: forwards
  &:hover > span
    transform: translateX(-.3em)
  &:hover > i
    opacity: 1
    transform: translateX(.3em)

@keyframes wave-animation
  0%
    background-position: 0 bottom
  100%
    background-position: 100px bottom
@keyframes loading-animation
  0%
    background-size: 100px 0px
  100%
    background-size: 100px 100px
