// COLORS
$pink: #F82E7C
$pinkHover: lighten($pink, 5%)
$turqoise: #69E5C6
$turqoiseHover: lighten($turqoise, 5%)
$purple: #4C3F6D
$green: #1BCD1E
$red: #f72e32

// TEXT
$black: #000000
$grayD: #4A4A4A
$grayL: #9B9B9B
$white: #FFFFFF

// INPUTS
$grayI: #EFEFEF

// SOCIAL BUTTONS
$grayS: #C6C6C6

// BACKGROUND
$whiteBG: #F7F7F7

// PADDING
$paddingSide: 15em
$paddingSideTablet: 7em
$paddingSideMobile: 2em
$paddingTop: 7.75em

// TYPOGRAPHY
$light: 300
$regular: 400
$semiBold: 600
$bold: 700


// HAMBURGER
$hamburger-layer-color : $white !important
